@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --light-black: rgba(0, 0, 0, 0.8);
  --white: rgba(255, 255, 255);
  --dark-white: #f5f5f7;
  --font-main: #1d1d1f;
  --font-head: #424245;
  --grey: rgb(116, 116, 121);
  --nav-font: #d6d6d6;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-white);
  color: var(--font-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
